.grid-wrapper{
    display: grid;
    grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr);
    gap: 10px;
    background-color: white;
    padding: 10px;
}

.spacer{
    grid-column-start: 1;
    grid-column-end: span 2;
    height: 4px;
    background: linear-gradient(90.24deg, #E49333 -9.45%, #FEC27A 98.82%);
}

.grid-image{
    max-width: 100%;
    height: auto;
}
.grid-text{
    font-size: 24px;
}
