.questions-grid-wrapper{
    display: grid;
    row-gap: 30px;
    grid-template-columns: 1fr;
    padding: 20px;
}

.question-mail{
    padding-bottom: 20px;
}
.question-name{
    padding-bottom: 20px;
}
.question-topic{
    padding-bottom: 20px;
}
.question-text{
    padding-bottom: 20px;
}