.questions-grid-wrapper{
    display: grid;
    row-gap: 30px;
    grid-template-columns: 1fr;
    padding: 20px;
}

.section-title{
    width: auto;
    margin: 0 auto;
}

.question-mail{
    padding-bottom: 20px;
}
.question-name{
    padding-bottom: 20px;
}
.question-topic{
    padding-bottom: 20px;
}
.question-text{
    padding-bottom: 20px;
}